[submodule "iphone/thirdparties/APSHTTPClient"]
	path = iphone/thirdparties/APSHTTPClient
	url = ../../Akylas/APSHTTPClient.git
[submodule "iphone/thirdparties/ColorArt"]
	path = iphone/thirdparties/ColorArt
	url = ../../Akylas/ColorArt-iOS.git
[submodule "iphone/thirdparties/TTTAttributedLabel"]
	path = iphone/thirdparties/TTTAttributedLabel
	url = ../../Akylas/TTTAttributedLabel.git
[submodule "iphone/thirdparties/SevenSwitch"]
	path = iphone/thirdparties/SevenSwitch
	url = ../../Akylas/SevenSwitch.git
[submodule "iphone/thirdparties/ADTransitionController"]
	path = iphone/thirdparties/ADTransitionController
	url = ../../Akylas/ADTransitionController.git
[submodule "iphone/thirdparties/MGSwipeTableCell"]
	path = iphone/thirdparties/MGSwipeTableCell
	url = ../../Akylas/MGSwipeTableCell.git
[submodule "iphone/thirdparties/NJKWebViewProgress"]
	path = iphone/thirdparties/NJKWebViewProgress
	url = ../../ninjinkun/NJKWebViewProgress.git
[submodule "iphone/thirdparties/DDMathParser"]
	path = iphone/thirdparties/DDMathParser
	url = ../../Akylas/DDMathParser.git
	branch = 1.1
